@model IEnumerable<JSJournal.Models.FollowUpListItem>

@{
    ViewBag.Title = "FollowUpIndex";
}

<h2>List of All Follow-Ups</h2>

<p>
    @Html.ActionLink("Create New", "FollowUpCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FollowUpID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeadID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FollowUpStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FollowUpID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeadID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FollowUpStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueUtc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUtc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedUtc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
