@model IEnumerable<JSJournal.Models.LeadSourceListItem>

@{
    ViewBag.Title = "LeadSourceIndex";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "LeadSourceCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SourceTypeID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Source)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.SourceTypeID)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Source)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.ActionLink("Edit", "LeadSourceEdit", new { id = item.SourceTypeID }) |
        @Html.ActionLink("Delete", "LeadSourceDelete", new { id=item.SourceTypeID })
    </td>
</tr>
}

</table>
